<section class="w-full h-screen text-center flex items-center justify-center">
  <div class="text-center px-4 lg:px-0 max-w-[90rem] text-container overflow-hidden">
    <span id="AboutMe" class="font-paragraph font-bold text-xl lg:text-6xl inline-block">
      Kapsamlı dijital çözümler geliştirmek için yaratıcı ve azimli. Bakış açısını yeni teknolojilerle dışa vurmaya odaklanır. Problem çözmeye karşı farklı
      açıdan bakmaktan korkmaz.
    </span>
  </div>
</section>
<script>
  import gsap from "gsap"
  import { ScrollTrigger } from "gsap/all"
  gsap.registerPlugin(ScrollTrigger)
  gsap.from(".text-container span", {
    yPercent: 100,
    scrollTrigger: {
      trigger: ".text-container",
      start: "top-=100 center",
      end: "center center",
      scrub: 1.2,
    },
  })
</script>
