---
import { works } from "../dataset.json"
---

<section id="Works" class="text-white bg-primary-dark w-full pt-12 mb-12">
  <h4 class="font-tusker-bold text-9xl text-center mb-4">İşler</h4>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-8 justify-items-center">
    {
      works.map((work) => {
        return (
          <a href={work.redURL} class="max-w-[40rem] p-2 border-white">
            <div class="aspect-video overflow-hidden mb-2">
              <img class="w-full h-full object-cover object-center" src={work.placeholderImg} alt="" />
            </div>
            <div class="mt-2">
              <h5 class="text-2xl font-bold">{work.title}</h5>
              <p>{work.desc}</p>
            </div>
          </a>
        )
      })
    }
  </div>
</section>
