---
import { works } from "../dataset.json"
---

<section id="Works" class="text-white bg-primary-dark w-full pt-12 mb-12 items-center justify-center flex flex-col">
  <h4 class="font-tusker-bold lg:text-9xl text-8xl text-center mb-24">Portfolyo</h4>
  <div class="flex-col items-center justify-center text-center">
    {
      works.map((work) => {
        return (
          <div class="w-screen work-container my-24">

          <a href={work.redURL} class=" text-3xl lg:text-[5rem] font-tusker block leading-relaxed tracking-wider">
            <img
              class="swipeimage lg:fixed lg:top-0 lg:left-0 lg:invisible object-cover pointer-events-none lg:-translate-x-1/2 lg:-translate-y-1/2"
              width="600px"
              src={work.placeholderImg}
              alt=""
            />
            <span class="work-hoverable block">{work.title}</span>
          </a>
          <span class="text-xl font-paragraph">{work.desc}</span>
          </div>
        )
      })
    }
  </div>
</section>
<script>
  import gsap from "gsap"
  if (window.innerWidth > 1024) {
    gsap.set(".work-container img.swipeimage", { yPercent: -50, xPercent: -50 })

    gsap.utils.toArray(".work-container").forEach((el) => {
      const image = el.querySelector("img.swipeimage"),
        setX = gsap.quickSetter(image, "x", "px"),
        setY = gsap.quickSetter(image, "y", "px"),
        align = (e) => {
          setX(e.clientX)
          setY(e.clientY)
        },
        startFollow = () => document.addEventListener("mousemove", align),
        stopFollow = () => document.removeEventListener("mousemove", align),
        fade = gsap.to(image, { autoAlpha: 0.6, ease: "none", paused: true, onReverseComplete: stopFollow })

      el.addEventListener("mouseenter", (e) => {
        fade.play()
        startFollow()
        align(e)
      })

      el.addEventListener("mouseleave", () => fade.reverse())
    })
  }
</script>
