<section class="w-full h-screen lg:h-screen z-50 text-white tracking-wider bg-[url(/assets/footer_bg.jpg)] pt-[11rem] sm:pt-0">
  <div class="w-full h-full sm:relative flex flex-col items-center justify-center">
    <div class="items-center justify-center md:absolute md:bottom-0 flex flex-col w-full sm:flex-row sm:justify-start">
      <div class="grid uppercase mb-4">
        <span class="font-tusker-bold text-[6rem] lg:text-[14rem] leading-none">let's</span>
        <span class="font-tusker-bold text-[6rem] lg:text-[18rem] leading-none">connect</span>
      </div>

      <div class="font-tusker ml-6 mt-auto mb-4">
        <div class="text-2xl lg:text-[6rem] uppercase flex flex-col sm:flex-row mb-9">
          <span class="text-[2.4rem] my-6">are you minding a project ?</span>
          <a
            class="px-8 lg:ml-4 py-4 text-center text-5xl bg-white text-black rounded-full hover:bg-black hover:text-white transition-colors"
            href="mailto:bahattinborasen@gmail.com"
          >
            Contact Me
          </a>
        </div>

        <div class="flex flex-col sm:flex-row gap-2 text-3xl text-center">
          <a class="p-4 border-2 border-white rounded-full" href="https://linkedin.com/in/bborasen"> linkedin</a>
          <a class="p-4 border-2 border-white rounded-full" href="https://instagram.com/senkisibora"> instagram</a>
          <a class="p-4 border-2 border-white rounded-full" href="mailto:bahattinborasen@gmail.com"> gmail</a>
          <a class="p-4 border-2 border-white rounded-full" href="https://github.com/bora-sen"> github</a>
        </div>
      </div>
    </div>
  </div>

  <h5 class="text-center text-xs mb-2 text-gray-400">© 2023 Bahattin Bora Şen | All Rights Reserved</h5>
</section>
