<section
  class="w-full h-screen z-50 text-white tracking-wider bg-[url(/assets/footer_bg_mobile.webp)] md:bg-[url(/assets/footer_bg.webp)] pt-8 lg:pt-[11rem] bg-cover bg-center"
>
  <div class="w-full h-full sm:relative flex flex-col items-center justify-center">
    <div class="items-center justify-center md:absolute md:bottom-2 flex flex-col w-full sm:flex-row sm:justify-start">
      <div class="cursor-default grid mb-4 font-tusker-bold">
        <span class="text-[6rem] lg:text-[14rem] leading-none">HADİ</span>
        <span class="text-[6rem] lg:text-[18rem] leading-none">TANIŞALIM</span>
      </div>

      <div class=" font-tusker lg:ml-6 mt-auto mb-4">
        <div class="text-2xl lg:text-[6rem] flex flex-col sm:flex-row mb-9 justify-center items-center">
          <span class="cursor-default text-[2.4rem] lg:text-[5rem] my-6 tracking-wider">AKLINDA BİR PROJE Mİ VAR ?</span>
          <a
            class="py-3 px-3 font-tusker-superbold lg:ml-4 text-xl bg-white text-black rounded-full hover:bg-black hover:text-white transition-colors"
            href="mailto:bahattinborasen@gmail.com"
          >
            Bana Ulaş
          </a>
        </div>

        <div class="flex flex-col sm:flex-row gap-2 text-sm text-center font-tusker-superbold">
          <a class="p-4 border-2 border-white rounded-full hover:bg-white hover:text-black transition-colors" href="https://linkedin.com/in/bborasen"> linkedin</a>
          <a class="p-4 border-2 border-white rounded-full hover:bg-white hover:text-black transition-colors" href="https://instagram.com/senkisibora"> instagram</a>
          <a class="p-4 border-2 border-white rounded-full hover:bg-white hover:text-black transition-colors" href="mailto:bahattinborasen@gmail.com"> gmail</a>
          <a class="p-4 border-2 border-white rounded-full hover:bg-white hover:text-black transition-colors" href="https://github.com/bora-sen"> github</a>
        </div>
      </div>
    </div>
  </div>

  <h5 class="text-center text-xs mb-2 text-gray-400">© 2024 Bahattin Bora Şen | Tüm Hakları Saklıdır | All Rights Reserved</h5>
</section>
