<section
  id="header"
  class="sticky top-0 py-4 sm:py-4 text-white flex-col sm:flex-row gap-2 sm:gap-0 z-50 font-paragraph flex justify-between items-center px-3 h-auto shadow-xl backdrop-blur-md w-full"
>
  <div class="w-full flex-col sm:flex-row flex items-center justify-between gap-4 px-12">
    <a href="/" class="w-full sm:w-auto sm:text-start flex items-center justify-center gap-2">
      <svg width="18" height="18" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.667 6.389a.187.187 0 0 0 0-.324l-7.16-4.16a3.006 3.006 0 0 0-3.015 0l-7.159 4.16a.187.187 0 0 0 0 .324l8.573 5.043a.188.188 0 0 0 .19 0l8.57-5.043Z"
        ></path>
        <path
          d="M2.531 7.666a.187.187 0 0 0-.281.163v8.151a2.25 2.25 0 0 0 1.118 1.94l7.6 4.558a.187.187 0 0 0 .282-.162V12.86a.187.187 0 0 0-.094-.162L2.531 7.666Z"
        ></path>
        <path
          d="M12.75 12.89v9.422a.186.186 0 0 0 .094.162.188.188 0 0 0 .187 0l7.601-4.558a2.25 2.25 0 0 0 1.118-1.937V7.827a.187.187 0 0 0-.281-.161l-8.625 5.062a.186.186 0 0 0-.094.162Z"
        ></path>
      </svg>
      <span class="tracking-wider font-bold">Bahattin Bora Şen</span>
    </a>
    <ul class="flex gap-6 items-center">
      <li>
        <a href="#aboutme">Hakkımda</a>
      </li>
      <li>
        <a href="https://linkedin.com/in/bborasen">Linkedin</a>
      </li>
      <li>
        <a href="#Works">Portfolyo</a>
      </li>
      <li>
        <a href="mailto:bahattinborasen@gmail.com">Mail</a>
      </li>
    </ul>
  </div>
</section>
