@font-face {
  font-family: TuskerRegular;
  src: url("/assets/fonts/tusker_regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: TuskerBold;
  src: url("/assets/fonts/tusker_bold.woff2");
  font-display: swap;
}
